// when window scrolling it will work - ./app. it's for menu animation
.header_menu_fixed{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9;
    animation-name: menu_animation_in;
    animation-duration: 3s;
}

@keyframes menu_animation_in{
    from{
        top: -100px;
        opacity: 0;

    }
    to{
        position: fixed;
        top: 0px;
        left: 0;
        width: 100%;
        opacity: 1;
        z-index: 9;
    }
}
@keyframes menu_animation_out{
    from{
        top: 0px;
        opacity: 1;
    }
    to{
        position: fixed;
        top: -100px;
        opacity: 0;
    }
}


// menu ul animation
@media only screen and (max-width:767px){
    .main_menu{
        ul{
            animation-name: height_full;
            animation-duration: 0.5s;
        }
    }/* main menu */

    @keyframes height_full {
        from{
            width: 0%;
            height: auto;
            opacity: 0;
        }
        to{
            width: 100%;
            opacity: 1;
        }
    }/* keyframe */

}/* medium and samll */