/* 
    ------ Only Small Phone - Small
*/
@media only screen and (max-width:575px){

    /* 
        ------ category section
    */
    #category{
        div>{
            div.row{
                text-align: center;
            }/* row */
        }/* container */
    }/* category */


    /* 
        ------ service section
    */
    #service{
        #services_content{
            .services_container{
                margin: 10px auto;
                width: 300px;
                height: 381px;

                img{
                    height: 190px;
                }

                .rating{
                    padding: 15px 7px 5px 7px;
                }

                .title{
                    padding-top: 10px;
                    
                    h2{
                        font-size: 18px;
                    }
                }

                .author{
                    padding: 10px 0px;
                }
            }/* services_container */
        }/* services content */
    }/* services_content */


}/* media sm or small - max 575*/



