/* 
    ------ Only Small Phone - Small
*/
@media only screen and (max-width:575px){

    /* 
        ------ category section
    */
    #category{
        div>{
            div.row{
                text-align: center;
            }/* row */
        }/* container */
    }/* category */


    /* 
        ------ service section
    */
    #service{
        #services_content{
            .services_container{
                margin: 1.0rem auto;
                width: 30.0rem;
                height: 38.1rem;

                img{
                    height: 19.0rem;
                }

                .rating{
                    padding: 1.5rem .7rem .5rem .7rem;
                }

                .title{
                    padding-top: 1.0rem;
                    
                    h2{
                        font-size: 1.8rem;
                    }
                }

                .author{
                    padding: 1.0rem 0rem;
                }
            }/* services_container */
        }/* services content */
    }/* services_content */


}/* media sm or small - max 575*/



