// content
body{
    color: $font_color;
    background-color: $body_bg;
    width: 100%;
    overflow-x: hidden !important;
    height: auto;
    font-family: $primary_font;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: $font_color;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.float_left{
    float: left;
}

.float_right{
    float: right;
}

%a{
    text-decoration: none;
}

%aHover{
    text-decoration: underline;
}

// spaces
.simple_space_top{
    margin-top: 30px !important;
}

.section_space{
    margin: 50px 0;
}

.row_space{
    margin: {
        top: 30px;
        bottom: 30px;
    }
}

.col_space{
    margin: {
        top: 30px !important;
        bottom: 30px !important;
    }
}


// align
.text-center{
    text-align: center;
}


// Font Color
.font_color{
    color: $font_color;
}

.font_white{
    color: #ffffff;
}

.primary_color{
    color: $primary_color;
}

.primary_color_light{
    color: $primary_color_light;
}

.secodary_color{
    color: $secodary_color;
}

.secodary_color_light{
    color: $secodary_color_light;
}

.body_bg_light_deep_font_color{
    color: $body_bg_light_deep_font_color;
}

// bg color
.body_bg{
    background-color: $body_bg;
}

.body_bg_light_deep{
    background-color: $body_bg_light_deep;
}

.bg_deep{
    background-color: $bg_deep;
}

/* 
    ------ Center Absolute under relative
*/
@mixin cross_browser_transform_translate($top, $left){
    transform: translate($top, $left);
    -ms-transform: translate($top, $left);
    -moz-transform: translate($top, $left);
    -o-transform: translate($top, $left);
    -webkit-transform: translate($top, $left);
}
// extended mixin to center absolute
%center_absolute{
    position: absolute;
    left: 50%;
    top: 50%;
    // transfrom: translate(-50%, -50%);
    @include cross_browser_transform_translate(-50%, -50%);
}