/* 
    ----- Header
*/
#header{
    padding: 20px 15px 10px 15px !important;

    .logo{
        float: left;
        margin-right: 15px !important;
        padding-top: 4px !important;
        
        span{
            font-size: $logo_font_size;
        }/* logo text */

        a{
            text-decoration: none;
        }
    }/* logo */

    .top_search{
        float: left;
        width: 40%;
        box-sizing: border-box;
        margin-top: 5px;

        form.top_search_form{
            box-sizing: border-box;

            input[type=text], button, button:hover{
                box-sizing: border-box;
            }

            input[type=text]{
                float: left;
                width: 80%;
                padding: 5px !important;
                border: none;
                border-radius: 5px 0 0 5px;
                background-color: $body_bg;
                font-size: $menu_font_size !important;
            }

            button{
                float: left;
                padding: 5px 7px !important;
                border: none;
                background-color: $primary_color;
                font-size: 13px !important;
                cursor: pointer;
            }
        }/* form.top_search_form */

        form.top_search_form::after{
            content: "";
            clear: both;
            display: table;
            box-sizing: border-box;
        }/* form.top_search_form::after */
    }/* top search */

    .main_menu{
        float: right;
        padding-top: 5px !important;
    
        ul{
            float: right;

            li{
                float: left;
                list-style: none;
    
                a{
                    color: $menu_font_color;
                    text-decoration: none;
                    font-size: $menu_font_size;
                    padding: 10px 5px 10px 15px !important;
                    font-weight: 300;
                }
    
                a:hover{
                    color: $body_bg_light_deep;
                    text-decoration: underline;
                }
            }/* li */
    
            // btn sell service
            .btn_sell_service{
                background-color: #00B760;
                padding: 8px 15px !important;
                margin: 0px 10px !important;
                border-radius: 3px;
                font-size: $menu_font_size;
                text-decoration: none;
                float: right;
            }/* btn_sell_service */
            .btn_sell_service:hover{
                color: $body_bg;
                text-decoration: underline;
            }
        }/* ul */
    }/* main_menu */
}/* header */

/* 
    -------- Banner
*/
@import "./_scss_part/banner.scss";