// color and bg
$primary_color: #00B760;
$primary_color_light: #00EA7B;

$secodary_color: #B70057;
$secodary_color_light: #EA006F;

$body_bg: #f4f5f8;
$font_color: #383a3c;

$body_bg_light_deep: #ebecef;
$body_bg_light_deep_font_color: rgba(0,0,0,.75);

$bg_deep: #222E3D;

$primary_font: 'Roboto', sans-serif;
$menu_font_color: #fff;

// size
$menu_font_size: 1.3rem;
$logo_font_size: 2.0rem;