/* 
    ------ Medium and Samll
*/
@media only screen and (max-width:767px){
   #banner_section{
       .banner{
           margin-top: 7.0rem;
           
           .banner_content{
               .banner_heading{
                font-size: 1.8rem;

               }/* banner heading */
               
               .big_search{

                    form.big_search_form{

                        input[type=text]{
                            padding: .5rem 1.0rem .5rem 1.0rem!important;
                            font-size: 1.2rem !important;
                        }

                        button{
                            padding: .5rem 1.0rem .5rem 1.0rem!important;
                            font-size: 1.2rem !important;
                        }
                    }
               }/* big search */
           }/* banner_content */
       }/* banner */
   }/* banner_section */

}/* media small and mobile or medium device*/


/* 
    ------ Only Phone (Medium) - Medium
*/
@media only screen and (min-width:576px) and (max-width:767px){
    #banner_section{
        .banner{
            .banner_content{
                .banner_heading{
                 font-size: 2.4rem;
 
                }/* banner heading */
                
                .big_search{
 
                     form.big_search_form{
 
                         input[type=text]{
                             padding: .5rem 3.0rem .5rem 1.0rem!important;
                             font-size: 1.6rem !important;
                         }
 
                         button{
                             font-size: 1.6rem !important;
                         }
                     }
                }/* big search */
            }/* banner_content */
        }/* banner */
    }/* banner_section */
}/* media md 576-767 */


/* 
    ------ Only Small Phone - Small
*/
@media only screen and (max-width:575px){
    #banner_section{ 
        .banner{
            .banner_content{
                .banner_heading{
                 font-size: 1.5rem;
 
                }/* banner heading */
                
                .big_search{
 
                     form.big_search_form{
 
                         input[type=text]{
                             padding: .5rem .3rem .5rem .5rem!important;
                             font-size: 1.2rem !important;
                             width: 65%;
                         }
 
                         button{
                             font-size: 1.0rem !important;
                         }
                     }
                }/* big search */
            }/* banner_content */
        }/* banner */
    }/* banner_section */

}/* media sm or small - max 575*/
