
/* 
    ----- Banner
*/
.banner{
    position: relative;

    img{
        width: 100%;
        height: 100%;
    }
    
    .banner_content{
        @extend %center_absolute;
        
        .big_search{
            box-sizing: border-box;

            form.big_search_form{
                box-sizing: border-box;

                input[type=text]{
                    float: left;
                    padding: 1.5rem 6.5rem 1.5rem 1.5rem !important;
                    border: none;
                    background-color: #f4f5f8;
                    font-size: 1.8rem !important;
                    border-radius: .5rem 0 0 .5rem;
                    box-sizing: border-box;
                }/* input text */

                button{
                    float: left;
                    padding: 1.5rem 2.2rem !important;
                    border: none;
                    background-color: #00B760;
                    font-size: 1.8rem !important;
                    cursor: pointer;
                    border-radius: 0rem .5rem .5rem 0rem;
                    box-sizing: border-box;

                    i{
                        svg{
                            width: 1.8rem;;
                        }
                    }
                }/* button */
            }/* form.big_search_form */

            form.big_search_form::after{
                content: "";
                clear: both;
                display: table;
                box-sizing: border-box;
            }/* form.big_search_form::after */
            
        }/* big_search */

        // banner heading
        .banner_heading{
            color: #fff;
            font-size: 2.8rem;
            font-weight: 500;
            text-shadow: -.3rem .3rem .4rem #000;
        }
    }/* banner_content */
}

.banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include bg_linear_gradient(161deg, #000, #00000052, #00000091, #00000091);
}

// Banner Responsive
@import "./_banner_responsive";