body{
    box-sizing: border-box;
    
    #login_form{
        min-width: 70%;
        @extend %center_absolute;
        @include box_shadow(.3rem, .8rem, 1.2rem, .4rem, #ccc);
        padding: 6rem 2rem;
        box-sizing: border-box;
        text-align: center;

        .logo{
            text-align: center;
            padding: 0 0 1.5rem 0;

            img{
                border: .1rem solid $primary_color;
                border-radius: 50%;
                @include box_shadow(-.5rem, .8rem, 1.2rem, .4rem, #ccc);
                @include transition(3s, ease);

                &:hover{
                    @include transform_scale(1.1);
                }

            }

            span{
                display: block;
                padding-top: 1rem;
                color: $secodary_color;
                font-size: 2rem;
                
            }
        }

        form{


            input{
                display: block;
                margin: 2rem auto;
                width: 80%;
            }

            input[type=text],input[type=password],input[type=email]{
                border: .1rem solid #ccc;
                padding: .7rem 1rem;
                background: transparent;
                @include box_shadow (.5rem, .5rem, 1rem, -.2rem, $border_color);
                @include transition(3s, ease);

                &:hover,&:focus,&:active,&:visited{
                    border-color: $primary_color;
                }
            }
           
            input[type=submit]{
                width: inherit;
                padding: 1rem 1.8rem 1rem 1.8rem;
                font-size: 1.6rem;
                text-transform: uppercase;
                margin-top: 1.5rem;
                background-color: $primary_color;
                border: none;
                border-radius: .3rem;
                color: $menu_font_color;
                @include box_shadow (.5rem, .5rem, 1rem, -.2rem, $border_color);
                @include transition(3s, ease);
                cursor: pointer;

                &:hover{
                    background-color: $secodary_color;
                    @include transition(.3s, ease);
                }
            }
        }
    }

}

// form validation
#reg_from_notice{
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 999;

    ul{

        li{
            list-style: none;
            color: white;
            padding: .5rem 1rem;
            background: $secodary_color;
            font-weight: 500;

            span{

               svg{
                    width: 1rem;
                    cursor: pointer;
                } 
            }
            
        }
    }
}

.primary_border_color{
    border-color: $primary_color;
}

.secondary_border_color{
    border-color: $secodary_color;
}





// responsive
@import "./_responive";