// Top Bar
#top_bar{
    background-color: $body_bg_container;
    margin-top: 7rem;
    box-sizing: border-box;
    padding: 1rem 0 0 3rem;
    border-bottom: 1px solid $border_color;
    overflow: hidden;

    ul{
        margin-bottom: .5rem;
        
        li{
            // float: left;
            display: inline-block;
            list-style: none;
            @extend %li;

            a{
                font-size: $menu_font_size;
                padding: 1rem 1.5rem;
                border: .1rem solid transparent;

            }
            a:hover{
                border: .1rem solid $border_color;
                border-radius: .3rem;
            }
        }
    }
}/* top bar */

// content_service
#content_service{
    box-sizing: border-box;
    margin: 2rem 5%;
    background: $body_bg_container;

    .wrap_content{
        border: .1rem solid $border_color;
        
        .content_head{
            

            .content_head_top{
                position: relative;
                background: $body_bg;
                padding: 2rem;


                h1{
                    font-weight: 500;
                    float: left;
                }
                span{
                    font-size: 1.2rem;
                    background: $secodary_color;
                    color: $menu_font_color;
                    padding: .2rem .5rem;
                    border-radius: .5rem;
                    margin: 0 0 0 1rem;
                }
            }/* content_head_top */
    
            .content_head_bottom{
                ul{
                    padding-top: .7rem;

                    li{
                        list-style: none;
                        display: inline-block;
                        border-right: .2rem solid $border_color;
                        padding-right: .7rem;

                        span{
                            color: $primary_color;
                            padding-left: .3rem;;
                        }
                    }
                    li:last-child{
                        border-right: .1rem solid transparent;
                    }
                }
            }/* content_head_bottom */

            .thumbnail{
                img{
                    display: block;
                    box-sizing: border-box;
                    max-width: 90%;
                    height: auto;
                    margin: 0 auto;
                    border: .1rem solid $border_color;
                    padding: .2rem;
                }
            }

        }/* content_head */

        .description{
            .desc_ttl{
                background: $body_bg;
                padding: 1rem 2rem;
                font-size: 1.6rem;
                font-weight: 600;
                margin-top: 1.5rem;
            }

            .service_content{
                font-size: 1.4rem;
                line-height: 2.8rem;
                padding: 1rem 2rem; 
            }

            .tag{
                padding: 1rem 2rem;
                font-size: 1.2rem;
                
                span{
                    font-weight: bold;
                    // display: inline-block;
                }

                ul{
                    display: inline-block;
                    padding: .3rem;

                    li{
                        list-style: none;
                        display: inline-block;
                        background: $bg_deep;
                        padding: .13rem .5rem;
                        border-radius: .3rem;
                        cursor: pointer;
                        
                        &:hover{
                            background: $font_color;
                        }

                        a{
                            color: $menu_font_color;
                            
                            &:hover{
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }


    }/* content_wrap */

    button{
        display: block;
        box-sizing: border-box;
        margin: 1.4rem auto;
        width: 95%;
        background: $primary_color;
        color: $body_bg;
        border: none;
        font-size: 2.2rem;
        font-weight: 800;
        padding: .8rem 0;
        border-radius: .5rem;
        @include transition(0.3s, ease);

        &:hover{
            background: $secodary_color;
        }
    }
}/* service_content */

// content_service
.common_content{
    box-sizing: border-box;
    margin: 2rem 5%;
    background: $body_bg_container;

    .wrap_content{
        border: .1rem solid $border_color;
        
        .content_head{
            .content_head_top{
                position: relative;
                background: $body_bg;
                padding: 2rem;

                span{
                    font-weight: 500;
                    font-size: 18px;
                }
            }/* content_head_top */
        }/* content_head */

        .comments{
            padding: 2rem;

            .thumbnail{
                float: right;
                width: 5rem;
                height: 5rem;
                overflow: hidden;

                img{
                    width: 100%;
                    height: auto;
                }
            }/* thumbnail */

            .comment_dtls{
                padding-left: 1.5rem;
                font-size: 1.3rem;


                .name{
                    font-weight: 500;
                }
                .data{
                    color: $font_color_light;
                }
            }

            .comments_content{
                padding: .5rem 0 0 1.5rem;
                font-size: 1.2rem;
            }

            .rating{
                cursor: pointer;
                .rating_star{
                    .filled{
                        color: rgb(247, 132, 1);
                    }
                    svg{
                        width: 2rem;
                    }
                }
                .remove_rating{
                    color: rgb(218, 44, 44);
                    svg{
                        width: 1.5rem;
                    }
                }
            }

        }/* comments */

    }/* content_wrap */

}/* service_content */